<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="4.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd ">
  <display-name>BusReservationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Signup</servlet-name>
  	<servlet-class>com.skitmbus.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Signup</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>signin</servlet-name>
  	<servlet-class>com.skitmbus.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signin</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>booking</servlet-name>
  	<servlet-class>com.skitmbus.ReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>booking</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>seats</servlet-name>
  	<servlet-class>com.skitmbus.SelectSeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>seats</servlet-name>
  	<url-pattern>/noOfSeats</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>seats</servlet-name>
  	<url-pattern>/seatSelection</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>deletion</servlet-name>
  	<servlet-class>com.skitmbus.DeleteBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deletion</servlet-name>
  	<url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>EditBus</servlet-name>
  	<servlet-class>com.skitmbus.EditBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditBus</servlet-name>
  	<url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>redirect</servlet-name>
  	<servlet-class>com.skitmbus.SeatRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>redirect</servlet-name>
  	<url-pattern>/seatSearch</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>payment</servlet-name>
  	<servlet-class>com.skitmbus.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>payment</servlet-name>
  	<url-pattern>/pay</url-pattern>
  </servlet-mapping>
</web-app>